<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      * { margin: 0; padding: 0; font-family: 'Segoe UI', 'Avenir Next',
      'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.6;
      font-size: 16px; color: #333; } img { max-width: 100%; display: block;
      margin: 0 auto; } body, .body-wrap { width: 100% !important; height: 100%;
      background: #f8f8f8; } a { color: #71bc37; text-decoration: none; }
      a:hover { text-decoration: underline; } .container { max-width: 580px;
      margin: 0 auto; padding: 0; display: block; } .container table { width:
      100%; border-collapse: collapse; } .masthead { padding: 50px 30px 30px
      30px; background: #71bc37; color: white; text-align: center;
      border-radius: 6px 6px 0 0; } .masthead .logo-title { font-size: 14px;
      font-weight: 700; letter-spacing: 1px; text-transform: uppercase;
      margin-bottom: 10px; color: #ffffffcc; } .masthead h1 { font-size: 30px;
      text-transform: uppercase; margin: 0; color: #fdfdfd; } .content {
      background: #fdfdfd; padding: 35px 40px; border-radius: 0 0 6px 6px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06); } .content h2 { font-size:
      22px; margin-bottom: 15px; color: #222; } .content p, .content ul {
      margin-bottom: 16px; } .content ul { padding-left: 20px; } .content li {
      margin-bottom: 8px; } .footer { background: #fdfdfd; color: #888; font-size:
      14px; padding: 20px 10px; text-align: left; font-family: Arial,
      sans-serif; } .footer p { margin-bottom: 10px; } .footer a { color: #888;
      font-weight: bold; } .footer a:hover { text-decoration: underline; }
      .footer-table { width: 100%; border-collapse: collapse; } .footer-table td
      { padding-right: 15px; font-size: 11px; color: #333; } .footer-table
      .social-icons a { display: inline-block; margin-right: 6px; }
    </style>
  </head>
  <body>
    <table class="body-wrap">
      <tr>
        <td class="container">
          <!-- Header -->
          <table>
            <tr>
              <td class="masthead">
                <h1>{{subject}}</h1>
              </td>
            </tr>
            <tr>
              <td class="content">
                <h2>DEAR, {{name}}</h2>

                <p>We’re happy to inform you that the device
                  <b>{{devicename}}</b>
                  is reconnected at
                  <b>{{time}}</b>.</p>

                <p>Connection Details:</p>
                <ul>
                  <li>Status: <b>{{message}}</b></li>
                  <li>Device Name: <b>{{devicename}}</b></li>
                  <li>Date & Time: <b>{{time}}</b></li>
                  <li>Down Time (Mins): <b>{{downtime}}</b></li>
                </ul>

                <p>No further action is required at this time. You may now
                  monitor the site normally via your dashboard.</p>
                <p>If you need assistance or have any questions, don’t hesitate
                  to reach out to our support team.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="container">
          <!-- Email Footer Starts -->
          <div class="footer">
            <table class="footer-table">
              <tr>
                <td width="150">
                  <img
                    src="https://sporadasecure.com/sporadalogosqr.gif"
                    alt="Sporada Secure Logo"
                    style="width: 150px; height: auto; display: block; margin-top: -45px;"
                  />
                </td>
                <td>
                  <div style="margin-bottom: 6px; font-size: 15px;">
                    <strong>Support Team</strong><br />
                    Sporada Secure India Pvt Ltd, 687/7, Trichy road,<br />
                    Ramanathapuram, Coimbatore - 641045
                  </div>
                  <div style="margin-bottom: 6px">
                    <a
                      href="mailto:support@sporadasecure.com"
                      style="color: #71bc37; text-decoration: none; font-size: 15px;"
                    >support@sporadasecure.com</a>
                    |
                    <a
                      href="https://www.sporadasecure.com"
                      style="color: #71bc37; text-decoration: none; font-size: 15px;"
                    >sporadasecure.com</a><br />
                    +91-739-975-0001 | +91-422-231-2363
                  </div>
                  <div class="social-icons">
                    <a
                      href="https://www.facebook.com/sporadabpo"
                      style="display: inline-block; margin-right: 6px"
                    >
                      <img
                        src="https://img.icons8.com/color/18/000000/facebook.png"
                        alt="Facebook"
                        style="vertical-align: middle"
                      />
                    </a>
                    <a
                      href="https://x.com/SporadaLtd"
                      style="display: inline-block; margin-right: 6px"
                    >
                      <img
                        src="https://img.icons8.com/color/18/000000/twitter--v1.png"
                        alt="Twitter"
                        style="vertical-align: middle"
                      />
                    </a>
                    <a
                      href="https://www.youtube.com/channel/UC0FmshIoi-ur1N4jjVjBTHQ"
                      style="display: inline-block; margin-right: 6px"
                    >
                      <img
                        src="https://img.icons8.com/color/18/000000/youtube-play.png"
                        alt="YouTube"
                        style="vertical-align: middle"
                      />
                    </a>
                    <a
                      href="https://in.linkedin.com/company/sporada-secure"
                      style="display: inline-block; margin-right: 6px"
                    >
                      <img
                        src="https://img.icons8.com/color/18/000000/linkedin.png"
                        alt="LinkedIn"
                        style="vertical-align: middle"
                      />
                    </a>
                    <a
                      href="https://www.instagram.com/mycompany404/"
                      style="display: inline-block"
                    >
                      <img
                        src="https://img.icons8.com/color/18/000000/instagram-new.png"
                        alt="Instagram"
                        style="vertical-align: middle"
                      />
                    </a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>